* {
    padding: 0;
    margin: 0;
}

body {
    margin:0; 
}

a {
    text-decoration: none;
    color: black;
}

header {
    min-height:50px;
    margin-bottom: 10px; 
}

footer { 
    margin-top: 30px;
    min-height:50px; 
}

body { 
    display: flex; 
    flex-direction: column; 
}

content { 
    flex: 1;
}

ul {
    display: flex;
}

ul li {
    flex: 0 0 48.15%;
    padding: 15px 10px;
    list-style-type: none;
    text-align: center;
    background-color: white;
    transition: background-color 0.3s ease-in-out;
}

ul li:hover {
    background-color: #E5E5E5;
}

ul li a {
    color: #2989B2;
    font-size: 28px;
}

ul li:hover a {
    color: black;
}

hr {
    height: 1px;
    border: none;
    border-top: 1px solid black;
    padding: 0;
    width: 100%;
}

.page_content {
    margin: 0 10% 0 10%; 
}

content .page_content {
    display: flex;
    flex-direction: column;
}

.ticket_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    box-shadow: 0 0 20px 1px #2989B2;
    border-radius: 10px;
    margin-top: 10px;
}

.ticket {
    display: flex;
    flex-direction: column;
    flex: 0 0 30.33%;
    padding: 5px;
    margin: 10px;
    min-height: 400px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}

.ticket:hover {
    box-shadow: 0px 0px 5px 2px #2989B2;
}

.ticket img {
    max-width: 100%;
    height: auto;
}

.ticket span {
    text-align: center;
    font-size: 20px;
    color: #2989B2;
}

.title {
    font-size: 26px;
    color: #2989B2;
}