@import url(./vars/_font.css);
@import url(./vars/_color.css);

button {
    color: var(--font-color);
    border: 1px solid;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 10px;
    min-width: 250px;
    font-size: 18px;
}

button:hover {
    box-shadow: 0 0 5px 1px;
    background-color: var(--gray-color);
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.even {
    background-color: #1dc9cf42;
}

.odd {
    background-color: #0a525542;
}

.phrase_list {
    margin-right: 5px;
    min-width: 350px;
}

.phrases {
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.phrase {
    font-size: var(--medium);
    text-align: left;
    padding: 5px;
}

.sub_phrase {
    font-size: var(--small);
    text-align: left;
    padding: 3px;
}

.add_control, .outline_control, .reset_control {
    margin: 5px;
}

.controls {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-self:flex-start;
}